body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

li {
    line-height: 2.6;
}

hr {
    border: 0;
    border-bottom: 1px solid #E9E9E9;
}